@import "tailwindcss";

@theme {
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
}

body {
  background-color: #f5f5f0;
  color: #1a1a1a;
  font-family: var(--font-sans);
}

.serif {
  font-family: var(--font-serif);
}

.mono {
  font-family: var(--font-mono);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f5f5f0;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
}
